MINIO_ROOT_USER=fill_in_username
MINIO_ROOT_PASSWORD=fill_in_password
MINIO_BUCKET_NAME=berka-bucket

AIRFLOW_UID=50000

CLICKHOUSE_USER=fill_in_username
CLICKHOUSE_PASSWORD=fill_in_password
CLICKHOUSE_SCHEMA_NAME=berka_raw

POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow

KAGGLE_USERNAME=fill_in_username
KAGGLE_KEY=fill_in_password

MY_EMAIL=fill_in_email
