todo.txt
Data Engineering Project - Berka Dataset.pdf
.env
minio/
instructions
*.log
config/airflow.cfg
test_minio.py
kaggle_test.py
datasets/*
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
*.pyc
